<div class="search-top">
    <div class="input-group">
        <input type="text" class="form-control input-lg" dataManager-ng-model="search.query" dataManager-ng-enter="search.setSearch()">
        <span class="input-group-btn">
            <button class="btn btn-info btn-lg search-btn" type="button" dataManager-ng-disabled="!search.query" dataManager-ng-click="search.setSearch()"><span class="glyphicon glyphicon-search"></span> Search</button>
        </span>
    </div>
</div>
<div class="search-results">
    <div class="no-dataManager" dataManager-ng-if="search.loading == null">Use the search box above to find your favorite TV shows</div>
    <div class="no-dataManager" dataManager-ng-if="search.shows.length == 0 && search.loading == false">Your search did not return any results</div>
    <div class="throbber" dataManager-ng-show="search.loading"></div>
    <ul class="list-of-shows" dataManager-ng-show="search.loading == false">
        <li class="col-xs-6 col-md-4 repeat-animation" dataManager-ng-repeat="show in search.shows">
            <show dataManager-show="show"></show>
        </li>
    </ul>
</div>